[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}
html,
body {
	background-color: #f3f3f4;
}
.btn:focus,
.btn:active {
	outline: none !important;
}
